#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game-container {
  text-align: center;
}

.board {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10%;
  background-color: darkblue;
}

.row {
  display: flex;
}

.cell {
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 50%;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell:hover {
  background-color: #d0d0d0;
}

.cell.red {
  background-color: red;
}

.cell.yellow {
  background-color: yellow;
}